<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Spark Foundation | Basic Banking System</title>
</head>
<body>

    {{>navbar}}

        <div class="cards">
            <div class="blog-post-img">
                    <img src="/assets/bank.svg">
                </div>
            <div class="blog-post">
                
                <div class="blog-post-info">
                    <div class="blog-post-date">
                        <span>
                            The Spark Foundations
                        </span>
                        <span>
                            GRIP, 2021
                        </span>
                    </div>
                    <h1 class="title">Task 1</h1>
                    <p class="text"><strong>Basic Banking System</strong> <br>
                        ◇ Create a simple dynamic website which has the following specs. <br>
                        ◇ Start with creating a dummy data in database for upto 10
                        customers. Database options: Mysql, Mongo, Postgres, etc.
                        Customers table will have basic fields such as name, email,
                        current balance etc. Transfers table will record all transfers
                        happened. <br>
                        ◇ Flow: Home Page > View all Customers > Select and View one
                        Customer > Transfer Money > Select customer to transfer to >
                        View all Customers. <br>
                        ◇ No Login Page. No User Creation. Only transfer of money
                        between multiple users. <br>
                        ◇ Host the website at 000webhost, github.io, heroku app or any
                        other free hosting provider. Check in code in gitlab.
                    </p>
                    <p><b><em>Submitted by Punit Middha, Vellore Institute of Technology</em></b></p>
                   
                </div>
            </div>
        </div>

        {{>footer}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>